name: release

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  deploy:
    name: Publish to test PyPI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        pip install twine
    - name: Build package
      run: python -m build
        #| #
        #poetry version $(git describe --tags --abbrev=0) 
        #poetry build
    - name: Upload to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: | 
        twine upload dist/*.whl
    #- name: Publish package
    #  #uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
    #  uses: pypa/gh-action-pypi-publish@release/v1
    #  with:
    #    verbose: true
    #    #user: Hendrik_Code
    #    password: ${{ secrets.PYPI_API_TOKEN }}
